.sidebar-view {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -20rem;
    width: 20rem;
    height: 100vh;
    transition: left 0.4s var(--animation-curve);

    .section {
        gap: 1rem;
        display: flex !important;
        flex-direction: column;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        padding-top: 4rem;
        width: 100%;
        height: 100%;
        border-color: var(--accent-color);
        border-width: 1px;
        border-radius: var(--border-radius);
        background-color: var(--background-color);
        border-style: solid;
        gap: 2rem;
        overflow-y: scroll;
        /* hide scrollbars */
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

.sidebar-view.open {
    left: 0;
}
