.social-card {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px var(--background-alt-color);
    padding: 2rem;
    color: #fff;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    background-color: var(--background-color);

    h1 {
        color: var(--accent-color);
    }

    h5 {
        color: var(--text-dim);
    }

    .external-link-icon {
        position: absolute;
        color: var(--accent-color);
        width: 1.1rem;
        height: 1.1rem;
        right: 1rem;
        top: 1rem;
        z-index: 100;
    }
}

.social-card:hover {
    transform: scale(1.1);
}

.social-card-image {
    object-fit: contain;
    width: 40%;
    aspect-ratio: 1/1;
}

.account-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
