.icon-url {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    position: relative;
}

.icon-url::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.icon-url:hover::after {
    width: 100%;
}

/* Without the URL style */
.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
